@page
@model RolaltyCardProject.Pages.SubscribedLoyaltyCards.FindUserModel
@{
    Layout = "_Layout";
}

@if (Model.FindUserViewModel.Message != null)
{
    <div class="alert @Model.FindUserViewModel.Message.GetAlertNavClass() alert-dismissible fade show" role="alert">
        @Model.FindUserViewModel.Message.Text
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form method="post">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-group">
                <label>Your Cpf</label>
                <input asp-for="FindUserViewModel.Cpf" class="form-control" />
                <span asp-validation-for="FindUserViewModel.Cpf" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Find</button>
            <a asp-page="../Index" class="btn btn-danger">Back</a>
        </div>
    </div>
</form>

@if (Model.FindUserViewModel.ClientCards != null)
{
    @foreach (var card in Model.FindUserViewModel.ClientCards)
    {
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card">
                    <div class="card-header">
                        @card.LoyaltyCard.CardName
                        <small class="text-muted">@card.LoyaltyCard.AplicationUser.CompanyName</small>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@card.LoyaltyCard.Header</h5>
                        <p class="card-text">@card.LoyaltyCard.Description</p>
                        @if (!card.IsRedeemed)
                        {
                            <p class="card-text">
                                @card.Points out of @card.LoyaltyCard.TotalPoints points
                                @if (card.Points == card.LoyaltyCard.TotalPoints)
                                {
                                    <span class="badge badge-success">Redeem your voucher code!</span>
                                }
                            </p>
                        }
                        else
                        {
                            <p class="card-text">Card has already been redeemed!</p>
                        }
                        <a class="btn btn-success" asp-page="VoucherCode" asp-route-userid="@card.AplicationUserId" asp-route-cardid="@card.LoyaltyCardId"><i class="fas fa-award"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
