@page
@model RolaltyCardProject.Pages.SubscribedLoyaltyCards.IndexModel
@{
    Layout = "_Layout";
}

@if (Model.ClientCards.Count > 0)
{
    <form method="post">
        @foreach (var card in Model.ClientCards)
        {
            <div class="row justify-content-center">
                <div class="col-5">
                    <div class="card">
                        <div class="card-header">
                            @card.LoyaltyCard.CardName
                            <small class="text-muted">@card.LoyaltyCard.AplicationUser.CompanyName</small>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@card.LoyaltyCard.Header</h5>
                            <p class="card-text">@card.LoyaltyCard.Description</p>
                            @if (!card.IsRedeemed)
                            {
                                <p class="card-text">
                                    @card.Points out of @card.LoyaltyCard.TotalPoints points
                                    @if (card.Points == card.LoyaltyCard.TotalPoints)
                                    {
                                        <span class="badge badge-success">Redeem your voucher code!</span>
                                    }
                                </p>
                            }
                            else
                            {
                                <p class="card-text">Card has already been redeemed!</p>
                            }
                            <a class="btn btn-success" asp-page="VoucherCode" asp-route-userid="@card.AplicationUserId" asp-route-cardid="@card.LoyaltyCardId"><i class="fas fa-award"></i></a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button asp-page-handler="Delete" asp-route-userid="@card.AplicationUserId" asp-route-cardid="@card.LoyaltyCardId" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this royalty card?')"><i class="fas fa-trash"></i></button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
    </form>
}
else
{
    <div class="text-center">
        You don't have any cards <i class="far fa-grin-beam-sweat"></i>
    </div>
}


@section Scripts{
    <script src="~/js/site.js"></script>
}